$background: #fbfbfb;

$font_color_1: #2a373a;
$font_color_2: #2d7788;
$font_color_3: #42A8C0;
$font_color_4: #67bace;
$font_color_5: #97AAC3;

$signature_color: #f17070;
$header_background: #f17070;
$header_color: white;

$icon_color_1: #f9bc28;
$icon_color_2: #ffe095;