$font_color_0: #0d262b;
$font_color_1: #2a373a;
$font_color_1_5: #284e6b;
$font_color_2: #1e7699;
$font_color_3: #29a8d8;
$font_color_4: #65cee6;
$font_color_5: #97AAC3;
$font_color_6: #fbfbfb;
$font_color_7: white;

//$background: linear-gradient(to bottom, $font_color_2 9%, $font_color_3 69%, $font_color_4 100%);
$background: linear-gradient(to bottom, #001a21 9%, #01202b 69%, #003642 100%);

$cv_profile_background: #ff506c;

$signature_color: #ff506c;

$header_background: $font_color_1;
$header_color: white;

$icon_color_1: #f9bc28;
$icon_color_2: #ffe095;