$font_color_0: #0d262b;
$font_color_1: #2a373a;
$font_color_1_5: #284e6b;
$font_color_2: #2d7788;
$font_color_3: #42A8C0;
$font_color_4: #67bace;
$font_color_5: #97AAC3;
$font_color_6: #fbfbfb;

$background: $font_color_1_5;

$cv_profile_background: #ff506c;

$signature_color: #ff506c;

$header_background: $font_color_1;
$header_color: white;

$icon_color_1: #f9bc28;
$icon_color_2: #ffe095;