$cv_background: white;

$sidebar_font_1: white;
$sidebar_font_2: lighten($cv_profile_background, 30%);

.cv-wrapper {
    margin: 40px auto 60px auto;
    width: 70%;

    .cv-content {
        position: relative;
        background: $cv_background;
        font-size: 14px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }

        .sidebar-wrapper {
            background: $cv_profile_background;
            position: absolute;
            right: 0;
            width: 240px;
            height: 100%;
            min-height: 800px;
            color: $sidebar_font_1;

            .unstyled-list {
                list-style: none;
                padding-left: 0;
                
                li {
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .fa {
                    margin-right: 5px;
                    font-size: 18px;
                    vertical-align: middle;
                    color: $sidebar_font_1;
                }
            }

            .sidebar-container {
                padding-left: 20px;
                padding-bottom: 40px;
                line-height: 1.0;

                .container-title {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 700;
                    margin-top: 0;
                    margin-bottom: 15px;
                    padding-left: 0px;
                }

                .item {
                    margin-bottom: 15px;

                    a {
                        font-size: 14px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .profile-container {
                background: rgba(0, 0, 0, 0.2);
                text-align: center;
                color: #fff;
                padding: 20px;

                .profile-img {
                    max-width: 100px;
                    margin-bottom: 15px;
                    border-radius: 100%;
                    border: 0px solid #fff;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                }
                .name {
                    color: inherit;
                    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
                    font-size: 32px;
                    font-weight: 900;
                    margin-top: 0;
                    margin-bottom: 10px;
                }
                .tagline {
                    color: $sidebar_font_2;
                    font-size: 16px;
                    font-weight: 400;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            .education-container {
                margin-bottom: 14px;

                .degree {
                    font-size: 14px;
                    margin-top: 0;
                    margin-bottom: 3px;
                }
                .meta {
                    color: $sidebar_font_2;
                    font-weight: 500;
                    margin-bottom: 4px;
                    margin-top: 0;
                }
                .time {
                    color: $sidebar_font_2;
                    font-weight: 500;
                    margin-bottom: 0px;
                }
            }

            .language-container {
                .lang-desc {
                    color: $sidebar_font_2;
                }
            }
        }

        .main-wrapper {
            padding: 30px;
            padding-left: 40px;
            padding-right: 270px;

            div {
                line-height: 1.5;
            }

            a {
                color: $font_color_2;
            }

            em {
                font-style: inherit;
                font-size: 14px;
                color: $font_color_5;
                position: absolute;
                right: 290px;
                font-weight: 100;
            }
            
            .fa {
                color: $font_color_2;
            }

            .section {
                padding-bottom: 20px;

                .section-title {
                    text-transform: uppercase;
                    font-size: 20px;
                    font-weight: 600;
                    color: $font_color_2;

                    .fa {
                        margin-right: 8px;
                    }
                }
            }
            
            .experience-section {
                h3 {
                    font-size: 1.17em;
                    margin-top: 20px;
                    margin-bottom: 0px;
                }
                h4 {
                    font-size: 14px;
                    margin-top: 5px;
                    margin-bottom: 0px;
                }
                h5 {
                    font-size: 0.83em;
                    font-weight: bold;
                    margin-top: 10px;
                    margin-bottom: 0px;
                }
                ul {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }

                .experience-item {
                    padding-bottom: 20px;
                }
            }
        }
    }

    .cv-footer {
        padding:20px;
        text-align: center;
        color: $font_color_6;

        .fa-heart {
            color: #fb866a;
        }

        a {
            color: inherit;
        }
    }
}
