$header_background: #f17070;

body {
    background: #fbfbfb;
    font-family: 'Roboto', sans-serif;
    margin: 0px;

    .website-header {
        padding-left: 10px 20px;
        background-color: $header_background;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0 20%;
            overflow: hidden;
        }
        
        li {
            float: left;
            width: 25%;

            a {
                display: block;
                color: white;
                padding: 20px 16px;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                
                &:hover {
                    background-color: lighten($header_background, 10%);
                }
            }
        }
    }

    .container {
        margin: 60px auto;
        width: 70%;

        h1 {
            font-size: 3em;
        }
        p {
            font-size: 1.5em;
            line-height: 1.4em;
            color: #333;
        }
    }

    .website-footer {
        border-top: 1px solid #d5d5d5;
        font-size: .8em;
        
        ul {
            padding: 0px;
            list-style: none;
            font-weight: bold;
        }
        ul li {
            display: inline;
            margin-right: 20px;
        }
    }


    
    
    
    // ul.posts { 
    //     margin: 20px auto 40px; 
    //     font-size: 1.5em;
    // }
    
    // ul.posts li {
    //     list-style: none;
    // }
    
    // p.reading {
    //     font-size: medium;
    //     font-style: italic;
    // }
    
}

