$font_family: 'Roboto', sans-serif;

body {
    margin: 0px;
    background: $background;
    font-family: $font_family;
    color: $font_color_1;
    -webkit-font-smoothing: antialiased;
}

.signature {
    font-family: 'Caveat', cursive;
    font-size: 26px;
    color: #f17070;
}


.horizontal-stack {
    text-align: center;
    .left-item {
        float: left;
    }
    .middle-item {
        display: inline;
    }
    .right-item {
        float: right;
    }
}
