.website-header {
    .menu {
        display: flex;
        justify-content: flex-end;
        padding: 1em 0em;

        a {
            color: white;
            font-weight: 600;
            display: block;
            padding: 0px 16px;
            width: 150px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            
            span {
                &:hover {
                    border-style: solid;
                    border-color: white;
                    border-width: 0 0 2px 0;
                    padding: 0 0 2px 0;
                }
            }
        }
    }
}