.website-header {
    .menu {
        display: flex;
        padding: 0 0 2rem 0;

        a {
            color: black;
            font-weight: 600;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            padding-right: 2rem;

            span {
                &:hover {
                    border-style: solid;
                    border-width: 0 0 2px 0;
                    padding: 0 0 2px 0;
                }
            }
        }
    }
}