.welcome {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    padding: 0 10em;
    color: white;

    .london {
        height: 25em;
    }
}