$post_background: white;

.posts {
    .post-list {
        table {
        
            td {
                padding: 0.5rem 0px;
            }
    
            .date {
                width: 12rem;
            }
                    
            .post-title {
                font-weight: bold;
                a {
                    text-decoration: none;
                    color: black;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}