.post-page {
    margin: 2rem 0rem;
    line-height: 1.75rem;

    .post-header {
        .title {
        }
    
        .meta {
            font-size: 0.8rem;
            margin: 20px 0px;
        }
    }
}