.website-content {
    font-size: 17px;
    line-height: 1.5em;

    h1 {
        font-size: 3em;
        color: $font_color_1;
        line-height: 0.9em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1.3em;
        font-weight: 500;
        margin-bottom: 20px;
    }

    blockquote {
        border-left: solid 4px $font_color_4;
        background: $font_color_6;
        font-style: italic;

        p {
            margin-left: 10px;
        }
    }

    code {
        background: $font_color_6;
    }

    pre.highlight {
        background: $font_color_6;
    }
}