$header_height: 50px;

.website-header {
    height: $header_height;
    line-height: $header_height;

    ul {
        list-style-type: none;
        margin: 0;
    }
    
    li {
        float: left;

        a {
            color: $header_color;
            font-weight: 600;
            display: block;
            padding: 0px 16px;
            width: 150px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            
            span {
                &:hover {
                    border-style: solid;
                    border-color: $header_color;
                    border-width: 0 0 2px 0;
                    padding: 0 0 2px 0;
                }
            }
        }
    }
}