$header_height: 50px;

.website-header {
    background-color: $header_background;
    height: $header_height;
    line-height: $header_height;

    ul {
        list-style-type: none;
        margin: 0;
    }
    
    li {
        float: left;

        a {
            color: $header_color;
            font-weight: 600;
            display: block;
            padding: 0px 16px;
            width: 150px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            
            &:hover {
                background-color: lighten($header_background, 10%);
            }
        }
    }
}