<footer class="website-footer">
    <div class="horizontal-stack container">
        <div class="left-item">
            <ul class="info">
                <li>
                    © 2017
                </li>
            </ul>
        </div>
    
        <div class="middle-item">
            <ul class="links">
                <li class="website">
                    <a href="{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a>
                </li>
                
                <li class="linkedin">
                    <a href="{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
        
                <li class="github">
                    <a href="{{site.github}}" target="_blank"><i class="fa fa-github"></i></a>
                </li>
            </ul>
        </div>
    
        <div class="right-item">
        </div>
    </div>
</footer>