<div class="footer">
    <div class="mylinks">
        <a href="{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a>
        <a href="{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="{{site.github}}" target="_blank"><i class="fa fa-github"></i></a>
    </div>
    <div class="credits">
        <div title="Creative Commons BY 3.0">
            Icons from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            (UK icons by <a href="http://www.freepik.com" title="Freepik">Freepik</a>; 
            weather icons by <a href="https://www.flaticon.com/authors/alfredo-hernandez" title="Alfredo Hernandez">Alfredo Hernandez</a>;
            avatar icons by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>)
        </div>
        </div>
    </div>
</div>