---
layout: default
title: Carole's CV
---
<div class="cv-wrapper">
    <div class="cv">
        <div class="sidebar-wrapper">
            {% include_relative side-bar/profile.html %}
            
            {% include_relative side-bar/contact.html %}
            
            {% include_relative side-bar/education.html %}
            
            {% include_relative side-bar/language.html %}
        </div>
        <div class="main-wrapper">
            {% include_relative main-view/career-profile.html %}
        
            {% include_relative main-view/experience.html %}
        </div>
    </div>

    {% include_relative footer.html %}
</div>