h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  color: inherit;
}
div {
    line-height: 1.5;
}

.cv-wrapper {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.main-wrapper {
    padding: 30px;
    padding-left: 40px;
    padding-right: 270px;
}
.main-wrapper a {
    color: #2d7788;
}
.cv {
    position: relative;
    color: #545E6C;
    background: #fbfbfb;
    font-size: 14px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.main-wrapper .section {
    padding-bottom: 20px;
}
.main-wrapper .section-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #2d7788;
  }
.main-wrapper .section-title .fa {
    margin-right: 8px;
}

.main-wrapper .experience-section h3 {
    margin-top: 20px;
    margin-bottom: 0px;
}
.main-wrapper .experience-section h4 {
    margin-top: 5px;
    margin-bottom: 0px;
}
.main-wrapper .experience-section h5 {
    margin-top: 10px;
    margin-bottom: 0px;
}
.main-wrapper .experience-section ul {
    margin-top: 5px;
    margin-bottom: 5px;
}
.main-wrapper em {
    font-style: inherit;
    font-size: 14px;
    color: #97AAC3;
    position: absolute;
    right: 290px;
    font-weight: 100;
}


.experience-item {
    padding-bottom: 20px;
}


.sidebar-wrapper {
    background: #42A8C0;
    position: absolute;
    right: 0;
    width: 240px;
    height: 100%;
    min-height: 800px;
    color: #fff;
}
.sidebar-wrapper .profile-container {
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
    padding: 20px
}
.sidebar-wrapper .name {
  font-size: 32px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
}
.sidebar-wrapper .tagline {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}
.sidebar-wrapper .profile-img {
    max-width: 100px;
    margin-bottom: 15px;
    border: 0px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.sidebar-wrapper a {
    color: white;
}
.sidebar-wrapper .sidebar-container {
    padding-left: 20px;
    padding-bottom: 40px;
    line-height: 1.0;
}
.sidebar-wrapper .unstyled-list {
    list-style: none;
    padding-left: 0;
}
.sidebar-wrapper .unstyled-list .fa {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
}
.sidebar-wrapper .unstyled-list li {
    margin-bottom: 15px;
}
.sidebar-wrapper .unstyled-list li:last-child {
    margin-bottom: 0;
}

.sidebar-wrapper .container-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 0px;
}
.sidebar-wrapper .lang-desc {
    color: rgba(255, 255, 255, 0.6);
}

.sidebar-wrapper .sidebar-container .item {
    margin-bottom: 15px;
}
.sidebar-wrapper .sidebar-container .item:last-child {
    margin-bottom: 0;
}
.sidebar-wrapper .sidebar-container .degree {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 3px;
}
.sidebar-wrapper .sidebar-container .meta {
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0;
}
.sidebar-wrapper .sidebar-container .item a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}
.sidebar-wrapper .sidebar-container .time {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
}

.cv-footer {
    padding:20px;
    text-align: center;
}
.cv-footer .fa-heart {
    color: #fb866a;
}