<!DOCTYPE html>
<html>
    <head>
        <title> {{ page.title }}</title>
        <link rel="shortcut icon" href="/assets/favicon.ico?">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/cv/style/style.css">
        <link rel="stylesheet" type="text/css" href="/3rdparty/font-awesome-4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/cv">CV</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <div class="container">
            {{ content }}
        </div>
        <footer>
            <ul>
                <li><a href="https://github.com/caroleolivier">github.com/caroleolivier</a></li>
            </ul>
        </footer>
    </body>
</html>
