<!DOCTYPE html>
<html>
    <head>
        <title> {{ page.title }}</title>
        <link rel="shortcut icon" href="/assets/images/favicon.ico?">
        <link rel="stylesheet" type="text/css" href="/assets/sass/main.css">
        <link rel="stylesheet" type="text/css" href="/3rdparty/font-awesome-4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Caveat" rel="stylesheet">
    </head>
    <body>
        <div class="website-header">
            <div class="horizontal-stack">
                    
                <div class="left-item">
                    <!-- <div class="signature">
                        CO
                    </div> -->
                </div>
            
                <div class="middle-item">
                </div>

                <div class="right-item">
                    <ul>
                        <li><a href="/"><span>Home</span></a></li>
                        <li><a href="/blog"><span>Blog</span></a></li>
                        <li><a href="/cv"><span>CV</span></a></li>
                        <li><a href="/about"><span>About</span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="website-container">
            {{ content }}
        </div>

        <footer class="website-footer">
            <div class="horizontal-stack">
                    
                <div class="left-item">
                    <ul class="info">
                        <li>
                            © 2017
                        </li>
                    </ul>
                </div>
            
                <div class="middle-item">
                    <ul class="links">
                        <li class="website">
                            <a href="{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a>
                        </li>
                        
                        <li class="linkedin">
                            <a href="{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                
                        <li class="github">
                            <a href="{{site.github}}" target="_blank"><i class="fa fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            
                <div class="right-item">
                </div>
            </div>
        </footer>
    </body>
</html>
